<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des rendez-vous - Centre Dentaire</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap'>
</head>
<body>
    <nav class="sidebar close">
        <header>
          <div class="image-text">
            <span class="image">
              <img src="/images/logo.png" alt="logo">
            </span>
      
            <div class="text logo-text">
              <span class="name">Clinic dentaire </span>
            </div>
          </div>
      
          <i class='bx bx-chevron-right toggle'></i>
        </header>
      
        <div class="menu-bar">
          <div class="menu">
      
            <ul class="menu-links">
              <li class="nav-link">
                <a href="/doctor/dashboard">
                  <i class='bx bx-home-alt icon'></i>
                  <span class="text nav-text">Dashboard</span>
                </a>
              </li>
              
              <li class="nav-link">
                <a href="/doctor/appointments">
                    <i class='bx bxs-calendar icon'></i>
                    <span class="text nav-text">Rendez-vous</span>
                </a>
              </li>

              <li class="nav-link">
                <a href="/doctor/medical-records">
                    <i class='bx bxs-folder-plus icon'></i>
                    <span class="text nav-text">Dossiers medicaux</span>
                </a>
              </li>
      
              <li class="nav-link">
                <a href="/doctor/prescriptions">
                  <i class='bx bx-capsule icon'></i>
                  <span class="text nav-text">Ordonnances</span>
                </a>
              </li>
      
              <li class="nav-link">
                <a href="#">
                    <i class='bx bx-file-blank icon'></i>
                  <span class="text nav-text">Fiches traitement</span>
                </a>
              </li>
      
            </ul>
          </div>
      
          <div class="bottom-content">
            <li class="">
              <a href="#" onclick="document.getElementById('logout-form').submit()">
                  <i class='bx bx-log-out icon'></i>
                  <span class="text nav-text">Deconnexion</span>
              </a>
              <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              </form>
            </li>
      
            <li class="mode">
              <div class="sun-moon">
                <i class='bx bx-moon icon moon'></i>
                <i class='bx bx-sun icon sun'></i>
              </div>
              <span class="mode-text text">Mode sombre</span>
      
              <div class="toggle-switch">
                <span class="switch"></span>
              </div>
            </li>
      
          </div>
        </div>
      
    </nav>

    <section class="home">
        <div class="">
            <div class="home-container">
                <!-- En-tête -->
                <header class="home-header">
                    <h1>Mes Rendez-vous</h1>
                </header>
                
                <!-- Tableau des rendez-vous -->
                <table class="home-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date & Heure</th>
                            <th>Patient</th>
                            <th>Raison</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="appointment : ${appointments}">
                            <td th:text="${appointment.id}"></td>
                            <td th:text="${#temporals.format(appointment.appointmentDateTime, 'dd-MM-yyyy HH:mm')}"></td>
                            <td> 
                              <a th:href="@{/doctor/patients/details/{id}(id=${appointment.patient.id})}" style="text-decoration: none;">
                                <span th:text="${appointment.patient.firstName} + ' ' + ${appointment.patient.lastName}"></span>
                              </a>
                          </td>
                            <td th:text="${appointment.reason}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Scripts JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/dashboard.js"></script> 
</body>
</html>